{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
{% load static %}
<!-- =================== Contact us container ============== -->
		<section class="contact_us_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;"> <!-- section title -->
						<h2>Get In Touch With Us</h2>
						<p>You can talk to our online representative at any time. Please use our Live Chat System on our website or <br>
						Fill up below instant messaging programs.</p>
					</div> <!-- End section title -->
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 form_holder"> <!-- form holder -->
						<form method="POST" novalidate>
							{% csrf_token %}
							<div>
								{% for field in form %}
								<div class="form-group">
            						{{field.label_tag}}
            						<div>{{field}}</div>
            						<div class="error">{{field.errors}}</div>
        						</div>
        						{% endfor %}
        					</div>
						    <button type="submit" class="submit">submit now <i class="fa fa-arrow-circle-right"></i></button>
						</form> <!-- End form holder -->

					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right address">
						<address>
							<div class="icon_holder float_left"><span class="icon icon-Pointer"></span></div>
							<div class="address_holder float_left">13005 Greenville Avenue <br> California, TX 70240 <br>New York</div>
						</address>
						<address class="clear_fix">
							<div class="icon_holder float_left"><span class="icon icon-Plaine"></span></div>
							<div class="address_holder float_left">contact@mefinance.com <br>support@mefinance.com</div>
						</address>
						<address class="clear_fix">
							<div class="icon_holder float_left"><span class="icon icon-Phone2"></span></div>
							<div class="address_holder float_left">+ (1800) 456 7890 <br> + (1544) 456 7890</div>
						</address>
					</div>
				</div>
			</div>
		</section>

<!-- =================== /Contact us container ============== -->
{% endblock content %}
