{% load static %}
<!-- =======Header ======= -->
		<header>
			<div class="container-fluid top_header">
				<div class="container">
					{% if request.user.is_authenticated %}
						<p class="float_left">Welcome to Me Financial Services, {{ request.user.first_name }}</p>
					{% else %}
						<p class="float_left">Welcome to Me Financial Services, guest</p>
					{% endif %}


					<div class="float_right">
						<ul>
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							<li>
								<div  id="search_box">
									<input id="search" type="text" placeholder="Search here">
									<button id="button" type="submit"><span class="icon icon-Search"></span></button>
								</div>
							</li>
						</ul>
					</div>
				</div> <!-- end container -->
			</div><!-- end top_header -->
			<div class="bottom_header top-bar-gradient">
				<div class="container clear_fix">
					<div class="float_left logo">
						<a href="{% url 'blog:home' %}">
							<img src="{% static 'images/logo.png' %}" alt="Me Finance">
						</a>
					</div>
					<div class="float_right address">
						<div class="top-info">
							<div class="icon-box">
								<span class=" icon icon-Pointer"></span>
							</div>
							<div class="content-box">
								<p> 13005 Greenville Avenue <br><span>California, TX 70240</span></p>
							</div>
						</div>
						<div class="top-info">
							<div class="icon-box">
								<span class="separator icon icon-Phone2"></span>
							</div>
							<div class="content-box">
								<p>+ (1800) 456 7890 <br><span>info@mefinance.com</span></p>
							</div>
						</div>
						<div class="top-info">
							<div class="icon-box">
								<span class="separator icon icon-Timer"></span>
							</div>
							<div class="content-box">
								<p>Mon - Sat 9.00 - 19.00 <br><span>Sunday Closed</span></p>
							</div>
						</div>
					</div>
				</div> <!-- end container -->
			</div> <!-- end bottom_header -->
		</header> <!-- end header -->
<!-- ======= /Header ======= -->
<!-- ======= mainmenu-area section ======= -->
		<section class="mainmenu-area stricky">
			<div class="container">
				<nav class="clearfix">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header clearfix">
				      <button type="button" class="navbar-toggle collapsed">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="fa fa-th fa-2x"></span>
				      </button>
				    </div>
					<div class="nav_main_list custom-scroll-bar pull-left" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav" id="hover_slip">
							<li><a href="{% url 'blog:home' %}">Home</a></li>
							<li class="arrow_down"><a href="{% url 'blog:about' %}">About Us</a></li>
							<li class="arrow_down"><a href="#">Pages</a>
								<div class="sub-menu">
									<ul>
										<li><a href="{% url '404page' %}">404 page</a></li>
									</ul>
								</div>
							</li>

							<li class="arrow_down" ><a href="{% url 'blog:post_list' %}">Blogs</a>
								<div class="sub-menu">
									{% if request.user.is_authenticated %}
										<ul>
											<li><a href="{% url 'blog:post_new' %}">New Post</a></li>
										</ul>
									{% endif %}
								</div>
							</li>
							<li class="arrow_down" ><a href="{% url 'shop:list' %}">Shop</a>
								<div class="sub-menu">
									<ul>
										<li><a href="{% url 'shop:product-details' pk=1 %}">Product Details</a></li>
										<li><a href="{% url 'shop:cart' %}">Cart Page</a></li>
										<li><a href="{% url 'shop:checkout' %}">Checkout Page</a></li>
									</ul>
								</div>
							</li>
							<li><a class="contact" href="{% url 'blog:contact' %}">Contact Us</a></li>
						</ul>
					</div>
					<div class="find-advisor pull-right">

						{% if request.user.is_authenticated %}
							<a href="{% url 'registration:logout' %}" class="advisor ">Logout</a>
						{% else %}
							<a href="{% url 'registration:login' %}" class="advisor ">Login</a>
						{% endif %}


					</div>
				</nav> <!-- End Nav -->
			</div> <!-- End Container -->
		</section>
<!-- ======= /mainmenu-area section ======= -->