{% extends 'base.html' %}
{% block title %}Cart Is Empty{% endblock title %}
{% block content %}
<!-- ==================checkout-content========== -->
		<section id="checkout-content">
			<div class="container">

				<div class="row">

					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
						<div class="section-title">
							<h2>your cart is empty</h2>
						</div>

					</div>
				</div>
			</div>
		</section>

<!-- ====================/ checkout-content============= -->
{% endblock content %}