{% extends "base.html" %}
{% block title %}Logged out{% endblock %}
{% block content %}
<!-- =================== Contact us container ============== -->
		<section class="contact_us_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;"> <!-- section title -->
						<h2>Logged out</h2>
                        <p>You have been successfully logged out. You can <a href="{% url 'registration:login' %}">log-in again</a>.</p>
					</div> <!-- End section title -->
				</div>
			</div>
		</section>
<!-- =================== /Contact us container ============== -->
{% endblock %}
